@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    padding: 0;
    margin: 0;
}
.background{
    height: 250vh;
    width: 100%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    position: relative;
    background-position: center center;
    background-size: cover;
}
.internal-div {
    padding-top: 20px;
    height: 200vh;
    width: 680px;
  box-sizing: border-box;
  background-color: #edf2f4;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 1%;




}
.CircleAvatar{
    width: 120px;
    height: 120px;
    background-image: url(images/DSC_100.jpg);
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 75% 25%;
    margin: -50px auto 20px;
}
.circle{
 display: flex;
align-content: center;

}
.Name , .titre {
    font-family: "Roboto";
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 5px;
    
    
}
.titre{
    color: #0093E9;
    margin-bottom: 20px;
}
.description{
    margin: auto;
    font-family: 'Roboto';
    width: 85%;
    text-align: center;
    font-size: 1rem;
}                                                                             
.skills  {

    font-family: 'Roboto';
    margin-top: 20px;
    text-align: center;
    
}
.skillbox{
  
  position: relative;
    height: 30px;
    width: 100px;

    background-color: grey;
    border-radius: 10px;
    margin: 10px;
   
border: none;

transition: 1s;
cursor: pointer;
}



.skillbox:hover{
cursor: pointer;
    transform: scale(1.3);
    background-color: #0093E9;
    z-index: 2;
}
.skill{
    font-family: 'Roboto';
    font-size: 0.75rem;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.Skill-list {
 align-items: center;
    width: 650px;
    height: 150px;
    display: flex;
    flex-direction: row;
   flex-flow: wrap;
    justify-content:space-around;
   margin: auto;
  
}

.education , .link,.school{
    font-family: 'Roboto';
    text-align: center;
    font-size: 1rem;
} 
.edy, .link{
    margin-top: 60px;

    
}

.school{
  color: grey;  
}
.links{
    width: 50%;
    margin: auto;
    align-items: center;
}
.social-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    
}
.social{
    font-size: 30px;
    color: #0093E9;
   text-decoration: none;
}
a:visited{
    text-decoration: none; 
    color: #0093E9;
}
.link{
margin-top: 20px;


}